@page "/Configure"

@using Taika.Pages.Settings
@using Taika.Shared

@inject Taika.Service.Settings.ISettingsService SettingsService;

<TopBar Title="Configure Taika-" />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="generalSettingsTab" data-toggle="tab" href="#generalSettings" role="tab" aria-controls="generalSettings" aria-selected="true">
            General
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="targetsTab" data-toggle="tab" href="#targets" role="tab" aria-controls="targets" aria-selected="false">
            Targets
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="cacheTab" data-toggle="tab" href="#cache" role="tab" aria-controls="cache" aria-selected="false">
            Cache Management
        </a>
    </li>
</ul>
<div class="tab-content configureTabs" id="myTabContent">
    <div class="tab-pane fade show active" id="generalSettings" role="tabpanel" aria-labelledby="generalSettingsTab">
        <General />
    </div>
    <div class="tab-pane fade" id="targets" role="tabpanel" aria-labelledby="targetsTab">
        <Targets />
    </div>
    <div class="tab-pane fade" id="cache" role="tabpanel" aria-labelledby="cacheTab">
        <Caches />
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        Test();
    }

    public void Test()
    {
        var currentTheme = SettingsService.GetTheme();
        SettingsService.SetTheme("light");
        var newTheme = SettingsService.GetTheme();

        @*var repoList = SettingsService.GetRepositoryList();
        
        var addResponse1 = SettingsService.AddRepository(new Abstractions.Repository.RepoData
        {
            Id = Guid.NewGuid(),
            Name = "Test Repo",
            GitUrl = "https://"
        });
        

        var secondRepoList = SettingsService.GetRepositoryList();

        var addResponse2 = SettingsService.AddRepository(new Abstractions.Repository.RepoData
        {
            Id = Guid.NewGuid(),
            Name = "Test Repo 2",
            GitUrl = "ssh://"
        });

        var thirdRepoList = SettingsService.GetRepositoryList();
        var fetch1 = SettingsService.GetRepository(addResponse1.Item1.Id);
        var fetch2 = SettingsService.GetRepository(addResponse2.Item1.Id);

        SettingsService.RemoveRepository(addResponse1.Item1.Id);
        var repoListAfterRemoval = SettingsService.GetRepositoryList();
        var fetch3 = SettingsService.GetRepository(addResponse1.Item1.Id);
        var fetch4 = SettingsService.GetRepository(addResponse2.Item1.Id);*@
    }
}